{% extends "base.html" %}

{% load static %}

{% block title %}轻拍科技后台管理{% endblock %}

{% block content %}
    <div class="nr_cont">
        <div class="sy_jr">
            <div class="sy_jr_li">
                <div class="jr_li_img"><img class="img_jr" src="{% static '/images/jr_yh.png' %}" alt="用户数"/></div>
                <div class="jr_li_sj">{{ new_customer_count }}</div>
                <div class="jr_li_sm">今日新增用户数</div>
            </div>
            <div class="sy_jr_li">
                <div class="jr_li_img"><img class="img_jr" src="{% static '/images/jr_zj.png' %}" alt="租借次数"/></div>
                <div class="jr_li_sj">{{ lend_count_today }}</div>
                <div class="jr_li_sm">今日租借次数</div>
            </div>
            <div class="sy_jr_li">
                <div class="jr_li_img"><img class="img_jr" src="{% static '/images/jr_dd.png' %}" alt="租金收入"/></div>
                <div class="jr_li_sj">{{ today_money }}</div>
                <div class="jr_li_sm">今日租金收入（元）</div>
            </div>
            <div class="sy_jr_li li_right">
                <div class="jr_li_img"><img class="img_jr" src="{% static '/images/jr_yj.png' %}" alt="押金"/></div>
                <div class="jr_li_sj">{{ today_deposit }}</div>
                <div class="jr_li_sm">今日押金总额（元）</div>
            </div>

        </div>
       <div class="div-home">
        <div>
            <table>
                <tr>
                    <td>
                        <img src="{% static 'images/menu/customer.png' %}"><br>
                        <span>{{ new_customer_count }}</span><br>
                        <span>今日新增用户数</span>
                    </td>
                    <td>
                        <img src="{% static 'images/menu/lend.png' %}"><br>
                        <span>{{ lend_count_today }}</span><br>
                        <span>今日租借次数</span>
                    </td>
                    <td>
                        <img src="{% static 'images/menu/money.png' %}"><br>
                        <span>{{ today_money }}</span><br>
                        <span>今日租金收入(元)</span>
                    </td>
                    <td>
                        <img src="{% static 'images/yajin.png' %}"><br>
                        <span>{{ today_deposit }}</span><br>
                        <span>今日押金总额(元)</span>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <span>{{ total_customer_count }}</span><br>
                        <span>总用户数</span>
                    </td>
                    <td>
                        <span>{{ total_lend_count }}</span><br>
                        <span>累计租借次数</span>
                    </td>
                    <td>
                        <span>{{ total_deposit }}</span><br>
                        <span>累计押金</span>
                    </td>
                    <td>
                        <span>{{ spot_counts }}</span><br>
                        <span>景点总数</span>
                    </td>
                    <td>
                        <span>{{ pole_counts }}</span><br>
                        <span>自拍杆总数</span>
                    </td>
                </tr>
            </table>
        </div>
        <div>

        </div>
        <div>

        </div>
    </div>
    </div>
{% endblock %}