{% extends "base.html" %}

{% load static %}

{% block title %}轻拍科技后台管理{% endblock %}

{% block content %}
    <div class="nr_cont">
        <div class="sy_jr">
            <div class="sy_jr_li">
                <div class="jr_li_img"><img class="img_jr" src="{% static '/images/jr_yh.png' %}" alt="用户数"/></div>
                <div class="jr_li_sj">{{ new_customer_count }}</div>
                <div class="jr_li_sm">今日新增用户数</div>
            </div>
            <div class="sy_jr_li">
                <div class="jr_li_img"><img class="img_jr" src="{% static '/images/jr_zj.png' %}" alt="租借次数"/></div>
                <div class="jr_li_sj">{{ lend_count_today }}</div>
                <div class="jr_li_sm">今日租借次数</div>
            </div>
            <div class="sy_jr_li">
                <div class="jr_li_img"><img class="img_jr" src="{% static '/images/jr_dd.png' %}" alt="租金收入"/></div>
                <div class="jr_li_sj">{{ today_money }}</div>
                <div class="jr_li_sm">今日租金收入（元）</div>
            </div>
            <div class="sy_jr_li li_right">
                <div class="jr_li_img"><img class="img_jr" src="{% static '/images/jr_yj.png' %}" alt="押金"/></div>
                <div class="jr_li_sj">{{ today_deposit }}</div>
                <div class="jr_li_sm">今日押金总额（元）</div>
            </div>
        </div>
        <div class="sy_zj">
            <div class="sy_zj_til">累计总数</div>
            <div class="zj_li">
                <div class="zj_li_sj">{{ total_customer_count }}</div>
                <div class="zj_li_sm">总用户数</div>
            </div>
            <div class="zj_li">
                <div class="zj_li_sj">{{ total_lend_count }}</div>
                <div class="zj_li_sm">累计租借次数</div>
            </div>
            <div class="zj_li">
                <div class="zj_li_sj">{{ total_deposit }}</div>
                <div class="zj_li_sm">累计押金（元）</div>
            </div>
            <div class="zj_li">
                <div class="zj_li_sj">{{ spot_counts }}</div>
                <div class="zj_li_sm">景点总数</div>
            </div>
            <div class="zj_li bord_right">
                <div class="zj_li_sj">{{ pole_counts }}</div>
                <div class="zj_li_sm">自拍杆总数</div>
            </div>
        </div>
    </div>

{% endblock %}