{% extends "base.html" %}

{% load static %}
{% load own_tag %}
{% block title %}
    用户管理
{% endblock %}

{% block content %}
    <div class="nr_cont">
        <div class="sear">
           <input class="sear_input" id="weixin_number" placeholder="微信昵称">
           <input class="sear_input" id="zhifubao_number" placeholder="支付宝帐号">
           <input class="sear_input" id="mobile_number" placeholder="手机号">
           <div class="sear_input"><select id="deposit_status">
            <option value="0">已归还</option>
            <option value="1">未归还</option>
            <option value="2">购买</option>
            </select></div>
            <input class="sear_input" type="button" value="查找" onclick="search()">
        </div>
        <div class="div-table">
        <table>
            <tr>
                <td>微信号</td>
                <td>手机号</td>
                <td>支付宝帐号</td>
                <td>蚂蚁信用分</td>
                <td>押金</td>
                <td>注册时间</td>
                <td>租用次数</td>
                <td>操作</td>
            </tr>
            {% if customers %}
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.weixin_number }}</td>
                        <td>{{ customer.mobile_number }}</td>
                        <td>{{ customer.alipay }}</td>
                        <td>{{ customer.credit_score }}</td>
                        <td>{{ customer.deposit }}</td>
                        <td>{{ customer.create_time | datetime_format }}</td>
                        <td>{{ customer.weixin_number| get_lendcount }}</td>
                        <td><a href="/customer/lendhistory/{{ customer.mobile_number }}" >租借详情</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">No customers still</td>
                </tr>
            {% endif %}
        </table>
    </div>
    </div>

    <script src="/static/js/jquery-3.2.1.js"></script>
    <script>

        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});

        $(document).ready(function() {

        });

        function search()
        {
            var weixin_number = $('#weixin_number').val();
            var mobile_number = $('#mobile_number').val();
            var deposit_status = $("#spot").find("option:selected").text();

            $.ajax({
                 type: "POST",
                 url: "/customer/search/",
                 data: {weixin_number:weixin_number, mobile_number:mobile_number, deposit_status:deposit_status},
                 dataType: "html",
                 success: function(data){
                     if (data.split('&')[0] == 'Success')
                     {
                         $('.div-table').html(data.split('&')[1]);
                     }
                     else{
                         alert(data.split('&')[1]);
                     }
                  }
             });

        }

    </script>

{% endblock %}