body{  margin:0;  padding:0;height: 100%;width: 100%;}

#div-head{
    height:40px;
    background-color:#0033CC;
    width:800px;
    margin:0;
}

#div-left{
    top:40px;
    width:150px;
    height:200px;
    background:#CCCC66;
    float:left;
    margin:0;
}

#div-left li
{
    height: 20px;
    width: 80px;
}

#div-content{
    width:800px;
    background:#CCCCCC;
    height:200px;
    margin:0;
}

.div-add{
    display: none;
}


.login_til{width: 365px; height: 80px;margin:60px auto;clear: both;}
.login_logo{float: left;width: 200px;height: 50px;margin-right: 20px;}
.login_img{width: 200px; height:auto;border: none;}
.login_ad{float: left;width: auto;font-size: 36px;font-weight: 400;color: #333333;line-height: 57px;}
.login_cont{width: 100%;height:346px;margin-top: -70px;background: url("/static/images/login_bg_t.jpg")  repeat-x; }
.bd_cont{width: 831px;height: 100%;margin: 0 auto;background: url("/static/images/login_bg.jpg")  no-repeat; text-align: center;}
.bd_input{width: 298px;height: 60px;margin: 0 auto;}
.first_input{padding-top: 80px;}
.infos_left{width: 60px;height: 24px;border: 1px solid #990066; border-right: none; padding: 5px;font-size: 14px;float: left;background-color: white;line-height: 24px;}
.infos_right{width: 210px;height: 24px;border: 1px solid #990066; border-left: none; padding: 5px;font-size: 14px;float: left;}
.infos_yzm{width: 70px;height: 24px;border: 1px solid #990066;  padding: 5px;font-size: 14px;float: left;color: black;background-color:#ececec;text-align: left;line-height: 24px}
.infos_yzm a{text-decoration: none; color:#0033CC;}
.infos_yzm a:hover{text-decoration: none; color: #990066;}
.infos_syz_left{width: 60px;height: 24px;border: 1px solid #990066; border-right: none; padding: 5px;font-size: 14px;float: left;background-color: white;line-height: 24px; margin-left: 10px;}
.infos_syz_right{width: 117px;height: 24px;border: 1px solid #990066; border-left: none; padding: 5px;font-size: 14px;float: left;}
.anniu {display: block;float: left;font-size: 14px; font-weight: 300; line-height: 26px;}
.anniu a{ padding: 5px;display: block;width: 280px;height: 26px; text-decoration: none;background-color:#cc3399;color: white;}
.anniu a:hover{display: block;text-decoration: none;background-color: #cc0099;font-weight: 500;}
#tip{color: red;font-size: 14px;font-weight: 200; background-color: #ffff99;}
.lx{width: 80%;height: 30px;margin: 0 auto;text-align: center;font-size: 12px;line-height: 20px;color: #333333;}
.col{color: #cc3399;font-weight: 400;}
.login_bq{width: 100%;  height: 50px;  border-top: 1px #eeeeee solid;  text-align: center;  font-size: 12px;  line-height: 50px;color: #333333;  position: fixed; bottom: 0;}


.head_top{width: 100%;height: 60px;text-align: left;border-bottom: 1px #CCCCCC solid;}
.head_logo{float: left;width:160px;height: 40px;border: none;padding: 10px;}
.head_til{float: left;font-size: 18px; font-weight: 400;text-align: left;width:300px;height: 30px;padding-top: 25px;}
.logo_img{width:160px; height: auto; border: none;}
.head_user{float: right;width: 240px;height: 30px;padding-top: 30px; padding-right:10px;font-size: 14px;text-align: right;color: #999999;}
.col{color: #cc0099;font-weight: bold;}
.head_user a{text-decoration: none;color: #333333}
.head_user a:hover{text-decoration: none;color: #cc0099;}

.dh_cont{float: left;height: 100%;width: 220px;border-right: 1px solid #CCCCCC;text-align: left;position: absolute; top: 61px; bottom: 0; background-color: #efefef; }
.dh_li{width: 200px;height: 30px;padding: 10px;border-bottom: 1px dashed #e3e3e3; }
.dh_icon{float: left;width: 20px;height: 20px;border: none;margin-left: 20px;margin-top: 6px;}
.icon_img{width: 18px;height: auto;}
.dh_li_til{padding-left: 10px;float: left;font-size: 14px;font-weight:400;color: white;line-height: 30px;}
.dh_li_til a{text-decoration: none;color: #333333;font-weight:300}
.dh_li_til a:hover{text-decoration: none;color:#cc0099;font-weight:400;}
.crunt_li{background-color: #cc0099;border: none;border-right: 1px solid #cc0099; }
.dh_lx{width: 180px;height: 30px; text-align:left;  font-size: 14px;  line-height: 50px;color: #333333;margin-top: 60px;padding-left: 30px;font-weight: 200;}

.nr_cont{width:auto;height:auto;position: absolute;top: 61px;left: 221px; right:0;bottom: 0;padding: 30px;}
.sy_jr{width: 100%;height: auto;float: left;}
.sy_jr_li{width: 20%;height: 200px;margin-right:5%;background-color: white;text-align: center;float: left;background-color: #f6f6f6; }
.li_right{margin-right: 0; }
.jr_li_img{width: 100%;text-align: center;margin: 20px auto;}
.img_jr{width: 70px; height: auto;}
.jr_li_sj{width: 100%;font-size: 36px;font-weight: 400;color: #cc0099;}
.jr_li_sm{width: 100%;font-size: 12px;font-weight: 200;color: #666666;}

.sy_zj{width: 96%;height: auto;float: left;border: 1px solid #ececec;margin-top: 30px;}
.sy_zj_til{width: 100%; height: 50px; float: left;font-size: 14px;font-weight: bold;color: #666666;line-height: 50px; border-bottom: 1px solid #efefef;text-indent: 20px; }
.zj_li{float: left;width: 19%;text-align: center;border-right: 1px dotted #efefef;margin: 20px 0;}
.bord_right{border-right: none;}
.zj_li_sj{width: 100%;font-size: 24px;font-weight: 400;color: #333333;}
.zj_li_sm{width: 100%;font-size: 12px;font-weight: 200;color: #666666;}