body{
margin:0;
padding:0;
}

#div-head{
    height:40px;
    background-color:#0033CC;
    width:800px;
    margin:0;
}

#div-left{
    top:40px;
    width:150px;
    height:200px;
    background:#CCCC66;
    float:left;
    margin:0;
}

#div-left li
{
    height: 20px;
    width: 80px;
}

#div-content{
    width:800px;
    background:#CCCCCC;
    height:200px;
    margin:0;
}

.div-add{
    display: none;
}


.login_til{width: 365px; height: 60px;margin:100px auto;clear: both;}
.login_logo{float: left;width: 200px;height: 50px;margin-right: 20px;}
.login_img{width: 200px; height:auto;border: none;}
.login_ad{float: left;width: auto;font-size: 36px;font-weight: 400;color: #333333;line-height: 57px;}
.login_cont{width: 100%;height:346px;margin-top: -100px;background: url("/static/images/login_bg_t.jpg")  repeat-x; }
.bd_cont{width: 831px;height: 100%;margin: 0 auto;background: url("/static/images/login_bg.jpg")  no-repeat; text-align: center;}
.bd_input{width: 300px;height: 60px;margin: 0 auto;}
.first_input{padding-top: 80px;}
.infos_left{width: 60px;height: 24px;border: 1px solid #990066; border-right: none; padding: 5px;font-size: 14px;float: left;background-color: white;line-height: 24px;}
.infos_right{width: 210px;height: 24px;border: 1px solid #990066; border-left: none; padding: 5px;font-size: 14px;float: left;}
.infos_yzm{width: 70px;height: 24px;border: 1px solid #990066;  padding: 5px;font-size: 14px;float: left;color: black;background-color:#ececec;text-align: left;line-height: 24px}
.infos_yzm a{text-decoration: none; color:#0033CC;}
.infos_yzm a:hover{text-decoration: none; color: #990066;}
.infos_syz_left{width: 60px;height: 24px;border: 1px solid #990066; border-right: none; padding: 5px;font-size: 14px;float: left;background-color: white;line-height: 24px; margin-left: 10px;}
.infos_syz_right{width: 117px;height: 24px;border: 1px solid #990066; border-left: none; padding: 5px;font-size: 14px;float: left;}
.anniu {display: block;float: left;font-size: 14px; font-weight: 300; line-height: 26px;}
.anniu a{ padding: 5px;display: block;width: 280px;height: 26px; text-decoration: none;background-color:#cc3399;color: white;}
.anniu a:hover{display: block;text-decoration: none;background-color: #cc0099;font-weight: 500;}
#tip{color: red;font-size: 14px;font-weight: 200; background-color: #ffff99;}

.lx{width: 80%;height: 60px;margin: 0 auto;text-align: center;font-size: 12px;line-height: 20px;color: #333333;margin-top: 10px;}
.col{color: #cc3399;font-weight: 400;}