{% extends "base.html" %}

{% load static %}

{% block title %}
    <span>机柜管理</span>
{% endblock %}

{% block content %}
    <div class="nr_cont">
    <div class="sear"><a href="/hardware/cabinet/cabinet_add.html">添加</a></div>
    <div class="bg_til">共有 <span class="col">7909</span> 条符合条件</div>
    <div class="div-add">
        <table>
            <tr>
                <td>编号</td>
                <td>
                    <input name="number" required value="请输入机柜编号" onblur="mblur('请输入机柜编号')" onclick="mclick('请输入机柜编号')">
                </td>
            </tr>
            <tr>
                <td>二维码</td>
                <td>
                    <input name="two_dimension" required value="请输入机柜二维码" onblur="mblur('请输入机柜二维码')" onclick="mclick('请输入机柜二维码')">
                </td>
            </tr>
            <tr>
                <td>所属景区</td>
                <td>
                    <select id="spot">
                        <option value="0">请选择所属景区</option>
                        {% if spots %}
                            {% for spot in spots %}
                                <option value="{{ spot.id }}">{{ spot.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>容量</td>
                <td>
                    <input name="capacity" required value="请输入机柜容量" onblur="mblur('请输入机柜容量')" onclick="mclick('请输入机柜容量')">
                </td>
            </tr>
            <tr>
                <td>状态</td>
                <td>
                    <input name="status" required value="请输入机柜状态" onblur="mblur('请输入机柜状态')" onclick="mclick('请输入机柜状态')">
                </td>
            </tr>
            <tr>
                <td>经度</td>
                <td>
                    <input name="lat" required value="请输入机柜经度" onblur="mblur('请输入机柜经度')" onclick="mclick('请输入机柜经度')">
                </td>
            </tr>
            <tr>
                <td>纬度</td>
                <td>
                    <input name="lon" required value="请输入机柜纬度" onblur="mblur('请输入机柜纬度')" onclick="mclick('请输入机柜纬度')">
                </td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="提交" onclick="submit()"></td>
            </tr>
        </table>
        <div>
            <a href="#" onclick="cancel_add()">取消</a>
        </div>
    </div>

        <table class="gridtable">
            <tr>
                <th >编号</th>
                <th>二维码</th>
                <th>所属景区</th>
                <th>容量</th>
                <th>状态</th>
                <th>经度</th>
                <th>纬度</th>
                <th>操作</th>
            </tr>
                {% if cabinets %}
                    {% for cabinet in cabinets %}
                        <tr>
                            <td>{{ cabinet.number }}</td>
                            <td>{{ cabinet.two_dimension_code }}</td>
                            <td>
                                {% for spot in spots %}
                                    {% ifequal cabinet.spot_id spot.id %}
                                        {{ spot.name }}
                                    {% endifequal %}
                                {% endfor %}
                            </td>
                            <td>{{ cabinet.capacity }}</td>
                            <td>{{ cabinet.status }}</td>
                            <td>{{ cabinet.lat }}</td>
                            <td>{{ cabinet.lon }}</td>
                            <td style="text-align: center"><a href="/hardware/cabinet/cabinet_update/{{ cabinet.id }}">更新</a> &nbsp;
                            <a href="#" onclick="delete_cabinet({{ cabinet.id }})">删除</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">No cabinets</td>
                    </tr>
                {% endif %}
        </table>

    </div>


    <script src="/static/js/jquery-3.2.1.js"></script>

    <script>

        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});

        $(document).ready(function() {

        });


        function delete_cabinet(cabinet_id)
        {
            delete_check();
            $.ajax({
                 type: "POST",
                 url: "/hardware/cabinet/cabinet_delete/",
                 data: {cabinet_id:cabinet_id},
                 dataType: "html",
                 success: function(data){
                     if (data.split('&')[0] == 'Success')
                     {
                         $('.div-content').html(data.split('&')[1]);
                     }
                     else{
                         alert(data.split('&')[1]);
                     }
                  }
             });
        }
        function delete_check() {
            var msg = "您真的确定要删除吗？\n\n请确认！";
            if (confirm(msg)==true){
                return true;
            }else{
                return false;
            }
        }
    </script>
{% endblock %}