<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="轻拍科技管理后台 懒人经济时代，顺应共享经济国家战略，携手打造轻生活轻旅游新方式">
        <meta name="keywords" content="轻拍科技 自拍杆 共享自拍杆 共享经济 共享单车／共享充电宝／共享雨伞／共享篮球／共享按摩椅／共享直升机 自拍 旅游自拍 共享租赁 共享风口">

        {% block head %}
        {% endblock %}
    </head>
    <body>

        {% block content %}
        {% endblock %}

    </body>
</html>