{% extends "login/base.html" %}
{% load static %}

{% block head %}
    <div class="login_til" xmlns="http://www.w3.org/1999/html">
      <div class="login_logo"><img class="login_img" src="{% static 'images/logo_re.jpg' %}"></div>
      <div class="login_ad">管理后台</div>
   </div>

{% endblock %}

{% block content %}
    <div class="login_cont">
      <div class="bd_cont">
        <div class="bd_input first_input">
            <div class="infos_left">手机号：</div>
            {% csrf_token %}
            <input id="phone" class="infos_right" placeholder="登记的管理员手机号" />
        </div>
          <div class="bd_input">
            <div class="infos_yzm"><a href="javascript:;" class="send1" onclick="sends.send();">点击 获取验证码</a></div>
         </div>
        <div class="bd_input">
            <div class="infos_left">验证码：</div>
            <input id="ranks" class="infos_right" placeholder="手机短信收到的4位数字" />
       </div>
        <div class="bd_input">
            <div class="anniu"> <a href="javascript:;"  onclick="sends.conform();">立即登录</a></div>
        </div>
        <div>
            <span id="tip"></span>
        </div>

      </div>
        <div class="lx">联系电话：<span class="col">130 8890 0089</span> / 微信咨询：<span class="col">轻拍科技</span></br>
版权所有@杭州轻拍科技有限公司 浙ICP备17029716号</div>
    </div>
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/relalive.js"></script>
    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});

        $(document).ready(function() {

        });
        var verify_code = $('#ranks').val().replace(/\s+/g,"");
        var sends = {
           checked:1,
            send:function(){
                var numbers = /^1\d{10}$/;
                var phone = $('#phone').val().replace(/\s+/g,"");
                 //获取输入手机号码
              if($('.infos_yzm').find('span').length == 0 && $('.infos_yzm a').attr('class') == 'send1'){
                  if(!check_number($('#phone').val()))
                    {
                        return false;
                    }
              }
              if(numbers.test(phone)){
                  var time = 60;
                    $('.infos_yzm span').remove();
                    function timeCountDown(){
                        if(time==0){
                            clearInterval(timer);
                            $('.infos_yzm a').addClass('send1').removeClass('send0').html("发送验证码");
                         sends.checked = 1;
                        return true;
                        }
                        $('.infos_yzm a').html(time+"s后重发");

                        time--;
                        return false;
                        sends.checked = 0;
                     }
                     $('.infos_yzm a').addClass('send0').removeClass('send1');

                     timeCountDown();
                     var timer = setInterval(timeCountDown,1000);
                 }
           },
            conform:function()
            {
                if(!check_number($('#phone').val()))
                {
                    return false;
                }

                if(!check_verify_code())
                {
                    return false;
                }

                $.ajax({
                 type: "POST",
                 url: "/home/home_logon/",
                 data: {mobile_number:$('#phone').val(), verify_code:$('#ranks').val()},
                 dataType: "html",
                 success: function(data){
                     if (data.split('&')[0] == 'Success')
                     {
                         location = location.origin + '/home/';
                     }
                     else{
                         showTip('验证码输入错误', 'danger');
                     }
                  }
             });
            }
        };

        function check_number(phone)
        {
            var numbers = /^1\d{10}$/;
            if(!numbers.test(phone) || phone.length ==0){
                showTip('手机格式错误', 'danger');
              return false;
          }
            return true;
        }

        function check_verify_code() {
            return true;
        }

    </script>
{% endblock %}