{% extends "base.html" %}

{% load static %}

{% block title %}
    <span>自拍杆更新</span>
{% endblock %}

{% block content %}
    <div>
        <a href="/hardware/pole/" name="return">返回</a>
    </div>
    <div class="div-update">
        <table  class="div-table">
            <tr>
                <td>自拍杆编号</td>
                <td>
                    <input name="number" required value="{{ pole.number }}" onblur="mblur('请输入自拍杆编号')" onclick="mclick('请输入自拍杆编号')">
                </td>
            </tr>
            <tr>
                <td>机柜编号</td>
                <td>
                    <select id="cabinet_number">
                        <option value="0">请选择机柜编号</option>
                        {% for cabinet in cabinets %}
                            <option {% ifequal cabinet.id pole.cabinet_id %}selected{% endifequal %}>{{ cabinet.number }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="提交" onclick="submit({{ pole.id }})"></td>
            </tr>
        </table>
    </div>

    <script src="/static/js/jquery-3.2.1.js"></script>
    <script>
        $(document).ready(function() {
            $.ajaxSetup({data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
              }});
        });

        function submit(pole_id)
        {
            if($("input[name=number]").val() =="" || $("input[name=spot_name]").val() =="请输入自拍杆编号"){
                alert("自拍杆编号不能为空!");
                return false;
            }

            if($("#cabinet_number").find("option:selected").text() =="请选择机柜编号"){
                alert("请选择机柜编号");
                return false;
            }

            $.ajax({
                 type: "POST",
                 url: "/hardware/pole/pole_update_submit/",
                 data: {number:$("input[name=number]").val(),  cabinet_number:$("#cabinet_number").find("option:selected").text(), pole_id:pole_id},
                 dataType: "html",
                 success: function(data){
                     if (data.split('&')[0] == 'Success')
                     {
                         location = location.href.split('pole_update')[0];
                     }
                     else{
                         alert(data.split('&')[1]);
                     }
                  }
             });
        }

        function mclick(expect_value){
            if(event.srcElement.value==expect_value)
                event.srcElement.value="";
        }

        function mblur(expect_value){
            if(event.srcElement.value=="")
                event.srcElement.value=expect_value;
        }


    </script>
{% endblock %}