{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>轻拍科技-{% block title %}{% endblock %}</title>
    <meta name="description" content="轻拍科技管理后台 懒人经济时代，顺应共享经济国家战略，携手打造轻生活轻旅游新方式">
    <meta name="keywords" content="轻拍科技 自拍杆 共享自拍杆 共享经济 共享单车／共享充电宝／共享雨伞／共享篮球／共享按摩椅／共享直升机 自拍 旅游自拍 共享租赁 共享风口">
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/vnd.microsoft.icon"/>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>

</head>

<body >

        <div class="head_top">
            <div class="head_logo">
                <a href="/" target="_self" title="回首页"><img class="logo_img" src="/static/images/logo_re.jpg" border="0" onMouseOver="this.src='/static/images/logo_re2.jpg'" onMouseOut="this.src='/static/images/logo_re.jpg'" /></a>
            </div>
            <div class="head_til">（西湖景区管理后台）</div>
            <div class="head_user">
                {% if user.is_authenticated %}
                    欢迎您：<span class="col">{{user.username}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/home/home_logout/">退出</a>
                {% endif %}
            </div>
        </div>

        <div class="dh_cont">
            <div class="dh_li">
                 <div class="icon_sy"></div>
                 <div class="dh_li_til"><a href='/'>首页</a></div>
            </div>
            <div class="dh_li crunt_li">
                 <div class="dh_li_icon icon_sy_crunt"></div>
                 <div class="dh_li_til">首页</div>
            </div>
            <div class="dh_li">
                 <div class="icon_sy"></div>
                 <div class="dh_li_til"><a href='/'>首页</a></div>
            </div>



            </div>
        </div>

        <div class="div-content">
            {% block content %}
            {% endblock %}
        </div>

<div class="foot_cont_bq">
    杭州轻拍科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright@2017 浙ICP备237970098号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;咨询电话：0571-88809090&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客服邮箱：kf@relalive.com
</div>

<script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/relalive.js"></script>
    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});

        $(document).ready(function() {

        });
     </script>

</body>