{% extends "base.html" %}

{% load static %}
{% load own_tag %}
{% block title %}
    <span>计费规则管理</span>
{% endblock %}

{% block content %}
    <div>
        <a href="#" onclick="rule_add()">添加</a>
    </div>
    <div class="div-add">
        <table  class="div-table">
            <tr>
                <td>开始时间长度</td>
                <td>
                    <input name="time_long" required value="请输入开始时间长度" onblur="mblur('请输入开始时间长度')" onclick="mclick('请输入开始时间长度')">小时
                </td>
            </tr>
            <tr>
                <td>单价</td><td><input name="unit_price" required value='请输入单价' onblur="mblur('请输入单价')" onclick="mclick('请输入单价')">元</td>
            </tr>
            <tr>
                <td>是否生效</td>
                <td>
                    <input type="radio" value="是" name="is_valid" checked>是
                    <input type="radio" value="否" name="is_valid">否
                </td>
            </tr>
            <tr>
                <td>操作人</td><td><input name="operator" required value="请输入操作人" onblur="mblur('请输入操作人')" onclick="mclick('请输入操作人')"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="提交" onclick="submit()"></td>
            </tr>
        </table>
        <div>
            <a href="#" onclick="cancel_add()">取消</a>
        </div>
    </div>
    <div class="div-content">
        <table class="div-table">
            <tr>
                <td rowspan="2">开始时间长度</td>
                <td rowspan="2">单价</td>
                <td rowspan="2">是否生效</td>
                <td rowspan="2">创建时间</td>
                <td rowspan="2">修改时间</td>
                <td rowspan="2">操作人</td>
                <td colspan="2">操作</td>
            </tr>
            <tr>
                <td>更新</td>
                <td>删除</td>
            </tr>

                {% if rules %}
                    {% for rule in rules %}
                        <tr>
                            <td>{{ rule.start_time_long }}</td>
                            <td>{{ rule.unit_price }}</td>
                            <td>
                                {% ifequal rule.is_valid 1 %}
                                    <span>是</span>
                                {% else %}
                                    <span>否</span>
                                {% endifequal %}
                            </td>
                            <td>{{ rule.create_time | datetime_format }}</td>
                            <td>{{ rule.modify_time | datetime_format }}</td>
                            <td>{{ rule.operator }}</td>
                            <td><a href="/customer/rule/rule_update/{{ rule.id }}">更新</a></td>
                            <td><a href="#" onclick="delete_rule({{ rule.id }})">删除</a></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">No rules</td>
                    </tr>

                {% endif %}

        </table>
    </div>
    <script src="/static/js/jquery-3.2.1.js"></script>

    <script>
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
          }});

        $(document).ready(function() {
            console.log( "ready!" );
        });
        function rule_add()
        {
            $('.div-add').show();
        }

        function cancel_add()
        {
            $("input[name=time_long]").val('请输入开始时间长度');
            $("input[name=unit_price]").val('请输入单价');
            $("input[name=operator]").val('请输入操作人');

             $('.div-add').hide();
        }
        function submit()
        {
            if($("input[name=time_long]").val() =="" || $("input[name=time_long]").val() =="请输入开始时间长度"){
                alert("时间长度不能为空!");
                return false;
            }

            if($("input[name=unit_price]").val() =="" || $("input[name=unit_price]").val()=="请输入单价"){
                alert("单价不能为空!");
                return false;
            }

            if($("input[name=operator]").val() =="" || $("input[name=operator]").val() =="请输入操作人"){
                alert("操作人不能为空!");
                return false;
            }

            var is_valid = $("input[name='is_valid']:checked").val();
            if (is_valid == '是')
            {
                is_valid = 1;
            }
            else
            {
                is_valid = 0;
            }

            $.ajax({
                 type: "POST",
                 url: "/customer/rule/rule_add/",
                 data: {time_long:$("input[name=time_long]").val(), unit_price:$("input[name=unit_price]").val(), is_valid:is_valid, operator:$("input[name=operator]").val()},
                 dataType: "html",
                 success: function(data){
                     if (data.split('&')[0] == 'Success')
                     {
                         $('.div-add').hide();

                         $("input[name=time_long]").val('');
                         $("input[name=unit_price]").val('');
                         $("input[name=operator]").val('');

                         $('.div-content').html(data.split('&')[1]);
                     }
                     else{
                         alert(data.split('&')[1]);
                     }
                  }
             });


        }

        function mclick(expect_value){
            if(event.srcElement.value==expect_value)
                event.srcElement.value="";
        }

        function mblur(expect_value){
            if(event.srcElement.value=="")
                event.srcElement.value=expect_value;
        }

        function update_rule(rule_id){
            $.ajax({
                 type: "POST",
                 url: "/customer/rule/rule_update/",
                 data: {rule_id:rule_id},
                 dataType: "html",
                 success: function(data){
                     if (data.split('&')[0] == 'Success')
                     {
                         $('.div-add').hide();

                         $("input[name=time_long]").val('');
                         $("input[name=unit_price]").val('');
                         $("input[name=operator]").val('');

                         $('.div-content').html(data.split('&')[1]);
                     }
                     else{
                         alert(data.split('&')[1]);
                     }
                  }
             });
        }
        function delete_rule(rule_id)
        {
            delete_check();
            $.ajax({
                 type: "POST",
                 url: "/customer/rule/rule_delete/",
                 data: {rule_id:rule_id},
                 dataType: "html",
                 success: function(data){
                     if (data.split('&')[0] == 'Success')
                     {
                         $('.div-content').html(data.split('&')[1]);
                     }
                     else{
                         alert(data.split('&')[1]);
                     }
                  }
             });
        }

        function delete_check() {
            var msg = "您真的确定要删除吗？\n\n请确认！";
            if (confirm(msg)==true){
                return true;
            }else{
                return false;
            }
        }

    </script>
{% endblock %}